{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}Создание записи{% endblock %}

{% block content %}

<div class="row mt-3 mb-3">
    <div class="col-4">
        <h4 class="h4">Добавить запись бюджета</h4>
    </div>
    <div class="col-4">
        <h4 class="h4">Данные за текущий месяц</h4>
    </div>
</div>

<div class="row">
    <!--     FORM-->
    <div class="col-4">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form show_label=True size='small' layout='horizontal' %}
            {% bootstrap_button 'Добавить' button_class='btn-info mt-4' button_type='submit' size='small' %}
        </form>
    </div>
    <!--     MONTH DETAILS-->
    <div class="col-5">
        <div class="row">
            <div class="col">
                <h4 class="h4">{{ month }}: <span
                        class="{% if balance > 0 %}badge badge-success{% else %}badge badge-danger{% endif %}">{{ balance }}</span>
                    ₽</h4>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button class="btn btn-info mb-2 btn-sm" type="button" data-toggle="collapse" data-target="#incomes"
                        aria-expanded="false" aria-controls="collapseExample">Доходы: <span
                        class="badge badge-light">{{ total_income.amount__sum }} ₽</span>
                </button>
                <div class="collapse" id="incomes">
                    {% for key, value in incomes_per_category.items %}
                    <div>
                        <span class="badge badge-pill badge-success">{{ key }}: {{ value }} ₽</span>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col">
                <button class="btn btn-info mb-2 btn-sm" type="button" data-toggle="collapse" data-target="#expense"
                        aria-expanded="false" aria-controls="collapseExample">Затраты: <span
                        class="badge badge-light">{{ total_expense.amount__sum }} ₽</span>
                </button>
                <div class="collapse" id="expense">
                    {% for key, value in expenses_per_category.items %}
                    <div>
                        <span class="badge badge-pill badge-danger">{{ key }}: {{ value }} ₽</span>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>

{% endblock %}
